
body{
  padding: 0px;
  margin: 0px;
  background: #ddd;
}
.clearfix{
  clear:both;
}
.right{
  float: left;
  width: 72%;
  padding: 1%;
}
.left{
  float: left;
  width: 25%;
  background: #444;
  min-height: 100vh;
  color:#ddd;
  text-transform: uppercase;
  border-right: 1px solid #000;
}
.left a{
  padding: 10px 0px;
  text-align: center;
  display: block;
  color: #fff !important;
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
}
.news_btn{
  float:right;
}
.news_form{
  width: 80%;
  margin: 10px 8%;
}
.contact_links a{
  display:block;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #777;
  background: #ddd;
  float:left;
}
.delete{
  border:2px solid #d00 !important;
  background: #f00 !important;
  color:#fff !important;
}

/* POPUP WINDOW */
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 25%;
    height: 15%;
    padding: 8px;
    border: 8px solid #a31d21;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.exit_box{
  font-size: 15px;
  position: relative;
  text-align: right;
  color:#000;
  text-transform: none;
}
