/* general classes  */

	/* links */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
a{text-decoration: none;}

	/* colors */

.white{color:rgba(255, 255, 255, 1) !important;}
.black{color:rgba(0, 0, 0, 1) !important;}
.non_deco{text-decoration:none !important;}
.box_shadow{-webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 1);box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 1);}

	/* fonts */

body{font-family: 'Roboto', sans-serif;}

	/* global changes */
::-webkit-input-placeholder { /* Chrome */
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #aaa;
  opacity: 1;
}



/*** Menu + Home ***/

.page_header{
	width:99%;
	padding:0px 20px;
}
.page_logo{
	padding:32px 0 34px 0;
}

.page_header #gallery:hover{
  border:none;
}
.page_header #gallery:hover .slide-menu{
 display: block;

}
.page_header .slide-menu{
  width: 120px;
  display: none;
  background-color:rgba(0,0,0, 0.8);
  border-radius: 15px;
  font-size: 17px;
  position: absolute;
  z-index: 100000000000000000000000000001;
}
.page_header .slide-menu:hover{
  display: none;
}
.page_header .slide-menu .button{
  border-bottom: 1px solid #bc9774;
  padding-bottom: 14px;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  color:#fff;
  font-family: 'Indie Flower', sans-serif;
  text-transform: none;
}
.page_header .slide-menu .button:hover{
  color:#bc9774;
  text-shadow:0.2px 0.2px 3px #bc9774;
}

.page_logo_link{
	font-size:36px;
	width:230px;
	font-family: 'Indie Flower', cursive;
	margin-left:auto;
	margin-right:auto;
	display:block;
  text-shadow: 0.2px 0.2px 3px #000000;
}
.page_logo_link:hover{
	cursor:pointer;
	color:#000000;
}

.page_menu{
	width:100%;
  text-align: center;
}

.menu_box{
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
	font-size:14px;
  font-weight: bold;
	text-transform:uppercase;
	display:block;
  padding-bottom: 20px;
  text-shadow: 0.2px 0.2px 3px #ffffff;
}
.menu_box .strip{
  background-color: #000;
  box-shadow:0.2px 0.2px 3px #ffffff;
  width:0px;
  height:1px;
  border-radius: 5%;
}
.menu_box:hover .strip{
  width:100%
}
.menu_box:hover{
  color:#fff;
}
.background_home_img{
  width:100%;
  height: 100vh;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
#owl-index .owl-prev{
  position: absolute;
  z-index: 1001;
  left: 3%;
  top:49vh;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  text-shadow: 0.2px 0.2px 3px #ffffff;
}
#owl-index .owl-next{
  position: absolute;
  z-index: 1001;
  right: 3%;
  top:49vh;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  text-shadow: 0.2px 0.2px 3px #ffffff;
}
#owl-index .owl-dots{
  display: none !important;
}
#owl-index .owl-nav{
  margin: 0px;
}
.footer_mr{
	height:25px;
	background-color:#333333;;
  position: absolute !important;
	text-align:center;
	font-size:17px;

  left:0px; right:0px;
  line-height:25px;
  display: block;
	font-family: 'Josefin Sans', sans-serif;
}
.contact_header .contact_strip{
  line-height: 100px;
  font-family: 'Indie Flower', sans-serif;
  font-size: 35px;
  text-align: center;
}
.small_box_in{
  padding: 5px;
  border-radius:5px;
  border: 2px solid #cccccc;
  width:50%;
}
.message{
  width:100%;
}
.contact_btn{
  border-radius:5px;
  width:150px;
  height:60px;
  float:right;
  margin-right:90px;
  background-color: #ddd;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
.tel_box, .mail_box{
  color:#000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}


/* about */
.about .owl-carousel{

}
.owl-carousel .item_img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.about .item{
  -webkit-clip-path: inset(0% 0% 0% 0% round 15px);
  clip-path: inset(0% 0% 0% 0% round 25px);
  width:100%;
  height:400px;
  overflow:hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.about .item:hover{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.about .item:after {
  content: "";
  display: block;
  padding-bottom: 90%;
}

.about .name, .introduction{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;

}
.about .text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* login */
.login{
  margin:40px auto;
  width:300px;
}
.about .photo-box{
  width:60%;
  margin-left: 25%;
  overflow: hidden;
}
.about .photo-box .photo{
  width:400px;
  height:300px;
  float: left;
  overflow: hidden;
  margin: 20px;
}
.about .photo-box .photo_img{
  width:100%;
  height: 100%;
  -webkit-clip-path: inset(0% 0% 0% 0% round 15px);
  clip-path: inset(0% 0% 0% 0% round 25px);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  object-fit: cover;
}
.about .photo-box .photo_img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.login input{
  width:100%;
}

/* contact */
.kontakt_box_all1{
  display:block;
  height: 178px;
}
.kontakt_box_all2{
  display:none;
}
.error
{
	text-align:right;
	color:#900;
	padding-right:12%;
	font-size:11px;
}


/* start galery */
.folders_box{
  width:80%;
  margin-left:10%;
}
.folders_folder{
  display: inline-block;
  margin-top:20px;
  width: 33%;
  height: 250px;
  padding-left:40px;
  padding-right:40px;
}
.folder_thumbnail{
  display: block;
  width: 100%;
  height:300px;
  object-fit: cover;
  -webkit-clip-path: inset(0% 0% 0% 0% round 15px);
  clip-path: inset(0% 0% 0% 0% round 25px);
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}
.folder_thumbnail:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%)
}
.folder_title{
  margin-top: 5px;
  color:#000000;
  font-size:25px;
  width:100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* end galery */
