
@media (max-width: 767px) {
  .about .text{
    width:400px;
  }
  .about .name, .introduction{
    width:286px;
  }
  .about .item{
    height:250px;
  }
  .owl-carousel .owl-stage-outer{
    height:250px;
  }
  .small_box{
    margin-left:20px;
    padding-right: 20px;
  }
  .message{
    margin-left: 20px;
    padding-right: 40px;
  }
  .p-r-sbi{
    padding-right: 35px !important;
  }
  .p-l-sbi{
    padding-left:15px !important;
  }
  .tel_box, .mail_box{
    text-align: center;
  }
  .folders_folder{
    width:96%;
    margin-left:1.5%;
    margin-right:1.5%;
    height: 340px;
  }
  .folders_folder{
    width:96%;
    margin-left:1.5%;
    margin-right:1.5%;
    height: 340px;
  }
  .folder_thumbnail{
    height: 300px;
  }
  .img_photo{
    width:47%;
    margin-left:1.5%;
    margin-right:1.5%;
  }
}


@media (min-width: 768px) {
  .about .text{
    width:650px;
  }
  .about .name, .introduction{
    width:435px;
  }
  .about .item{
    height:300px;
  }
  .small_box{
    margin-left:40px;
    padding-right: 40px;
  }
  .message{
    margin-left: 40px;
    padding-right: 80px;
  }
  .p-r-sbi{
    padding-right: 55px !important;
  }
  .p-l-sbi{
    padding-left:15px !important;
  }
  .tel_box, .mail_box{
    text-align: center;
  }
  .folders_folder{
    width:47%;
    margin-left:1.5%;
    margin-right:1.5%;
    height: 340px;
  }
  .folder_thumbnail{
    height: 300px;
  }
  .img_photo{
    width:47%;
    margin-left:1.5%;
    margin-right:1.5%;
  }
}


@media (min-width: 992px) {
  .about .text{
    width:800px;
  }
  .about .name, .introduction{
    width:525px;
  }
  .about .item{
    height:350px;
  }
  .small_box{
    margin-left:55px;
    padding-right: 55px;
  }
  .message{
    margin-left: 55px;
    padding-right: 110px;
  }
  .p-r-sbi{
    padding-right: 70px !important;
  }
  .p-l-sbi{
    padding-left:15px !important;
  }
  .tel_box, .mail_box{
    text-align: left;
  }
  .folders_folder{
    width:30%;
    margin-left:1.5%;
    margin-right:1.5%;
    height: 340px
  }
  .folder_thumbnail{
    height: 300px;
  }
  .img_photo{
    width:30%;
    margin-left:1.5%;
    margin-right:1.5%;
  }
}


@media (min-width: 1200px) {
  .about .text{
    width:1250px;
  }
  .about .name, .introduction{
    width:800px;
  }
  .about .item{
    height:400px;
  }
  .small_box{
    margin-left:70px;
    padding-right: 70px;
  }
  .message{
    margin-left: 70px;
    padding-right: 140px;
  }
  .p-r-sbi{
    padding-right: 85px !important;
  }
  .p-l-sbi{
    padding-left:15px !important;
  }
  .tel_box, .mail_box{
    text-align: left;
  }
  .folders_folder{
    width:30%;
    margin-left:1.5%;
    margin-right:1.5%;
    height: 390px;
  }
  .folder_thumbnail{
    height: 350px;
  }
  .img_photo{
    width:30%;
    margin-left:1.5%;
    margin-right:1.5%;
  }
}
